.main {
  position: sticky;
  background-color: var(--blop-black);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.container {
  display: flex;
  max-width: 1320px;
  // padding-top: 1rem;
  // padding-bottom: 1rem;
  overflow: hidden;
  align-items: center;
}

#rightContainer {
  display: flex;
  position: absolute;
  right: 1.5rem;
}

#dashboard {
  --button-bg-color: var(--blop-red);
}

#profile {
  --button-bg-color: var(--blop-green);
}

#settings {
  --button-bg-color: var(--blop-yellow);
}

#createGame {
  --button-bg-color: var(--blop-blue);
}

.link {
  font-size: 0;
  cursor: pointer;
  border-radius: 50%;
}

#logoButton {
  fill: var(--blop-white);
}

#logoButton:hover {
  // animation: wiggle 0.2s cubic-bezier(.36, .07, .19, .97) both;
  animation: wiggle 0.6s cubic-bezier(0.34, 1.2, 0.64, 1);
}

#githubButton {
  fill: var(--blop-white);
  transition: transform 0.2s ease;
}

#githubButton:hover {
  transform: scale(0.95);
}

.navElement {
  position: relative;
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
}

.button {
  border-radius: 50%;
  border-color: var(--button-bg-color);
  border-style: solid;
  border-width: 3px;
  fill: white;
  transition: background-color 0.15s ease;
}

.button:hover {
  // fill: #06060f;
  background-color: var(--button-bg-color);
  // animation: wiggle 0.2s cubic-bezier(.22, 1, 0.36, 1) both;
}

.icon {
  position: relative;
  height: 1rem;
  margin: 1rem;
  width: fit-content;
}

#logoButton > .icon {
  height: 2rem;
  width: fit-content;
}

@keyframes wiggle {
  40% {
    transform: translate(0px, -5px) rotate(-2deg);
  }

  60% {
    transform: translate(0px, 5px);
  }
}
