#main {
  position: relative;
  width: 100%;

  display: grid;
  grid-template-columns: 40% 60%;
  overflow: hidden;
}

#listPane {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: auto;
  row-gap: 0.5rem;
  width: 100%;
  overflow-y: scroll;
}

#settingsPane {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  width: 100%;
}

#inviteField {
  width: 50%;
  height: 3rem;
  margin-bottom: 1rem;
  text-align: center;
  background-color: var(--blop-black);
  color: var(--blop-white);
  border-radius: 1rem;
  border-style: solid;
  border-color: var(--blop-gray);

  transition: border-color 0.2s ease;
}

#inviteField:focus {
  outline: none;
  border-color: var(--blop-green);
}

#startButton {
  font-size: 18px;
}

.selected {
  border-color: var(--blop-green);
}

@media screen and (max-width: 600px) {
}
