// $body-bg: #06060f;
// $body-color: #ffffff;

@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

:root {
  --blop-black: rgb(6, 6, 15);
  --blop-red: rgb(218, 44, 44);
  --blop-green: rgb(86, 192, 86);
  --blop-yellow: rgb(243, 227, 81);
  --blop-blue: rgb(47, 128, 237);
  --blop-white: rgb(252, 252, 252);
  --blop-gray: rgb(11, 11, 26);
  --blop-light-gray: rgb(34, 26, 56);
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #06060f;
  color: var(--blop-white);
  overflow: hidden;
}

* {
  font-family: Rubik, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

::selection {
  background-color: var(--blop-red);
}

main {
  padding-top: 3rem;
}

a {
  text-decoration: none;
}

#blop {
  position: absolute;
  display: grid;
  grid-template-rows: 5rem auto;
  width: 100vw;
  height: 100vh;
}
