@use "sass:math";

#main {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#bgLogos {
  display: grid;
  position: relative;

  grid-template-rows: 100%;
  grid-template-columns: 100%;
}

// @keyframes slide {
//   0% {
//     left: 0;
//   }

//   100% {
//     left: inherit;
//   }
// }

.bgLogoContainer {
  position: relative;
  // put all of the logos in the same grid cell so they overlap
  grid-column: 1;
  grid-row: 1;

  height: 40vh;
  width: 40vh * math.div(13, 7);

  margin: 0;

  pointer-events: none;

  // transition: left 1s cubic-bezier(0.07, 0.56, 0.4, 1.66);

  // cursed cubic bezier function
  transition: left 0.75s cubic-bezier(0.71, 2.36, 0.43, 0.68);
}

.bgLogo {
  margin: auto auto;
  width: 100%;
  height: 100%;

  fill: var(--blop-gray);
}

@keyframes slideUp {
  0% {
    filter: opacity(0);
    transform: translateY(-25%);
  }

  100% {
    filter: opacity(1);
    transform: translateY(0);
  }
}

$delay: 2.5s;

#subtitleContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  left: 0;
  right: 23%;
  top: 72%;
  bottom: 0;

  margin-right: 1em;

  animation: slideUp 0.75s ease;
  animation-delay: $delay - 0.5s;
  animation-fill-mode: backwards;
}

#subtitle {
  text-align: center;
  vertical-align: text-bottom;
  margin: 0 0;

  pointer-events: all;
}

#subtitle > span > * {
  display: inline-block;
}

.blue {
  color: var(--blop-blue);
  animation: bounce 3s infinite cubic-bezier(0.34, 1.2, 0.64, 1) $delay + 0s;
}

.red {
  color: var(--blop-red);
  animation: bounce 3s infinite cubic-bezier(0.34, 1.2, 0.64, 1) $delay + 0.5s;
}

.green {
  color: var(--blop-green);
  animation: bounce 3s infinite cubic-bezier(0.34, 1.2, 0.64, 1) $delay + 1s;
}

.yellow {
  color: var(--blop-yellow);
  animation: bounce 3s infinite cubic-bezier(0.34, 1.2, 0.64, 1) $delay + 1.5s;
}

@keyframes bounce {
  0% {
    transform: none;
  }

  16% {
    transform: translate(0px, -5px);
  }

  24% {
    transform: translate(0px, 2px);
  }

  40% {
    transform: none;
  }
}
