.main {
  position: relative;
  display: grid;
  grid-template-rows: 2;
}

.searchInput {
  position: relative;
  width: 100%;
  margin-bottom: 0;
  z-index: 1;
}

.resultListHead {
  position: relative;
  width: 100%;
  height: 0;
  transition: opacity 0.2s ease;
}

.resultList {
  position: absolute;
  left: 0;
  right: 0;

  background-color: var(--blop-gray);
  border: solid 3px var(--blop-light-gray);
  border-top: none;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;

  padding: 0 0;
  margin: 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  overflow: hidden;
}

.result {
  margin-top: 0;
  margin-bottom: 0;
  height: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;

  animation: fadeIn 0.2s;
}

.selected {
  background-color: var(--blop-light-gray);
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
